<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>风控设置</title>
    <include file="BaseTemplate:includecssjs"/>
</head>
<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">管理后台</a>
        <a href="">系统管理</a>
        <a><cite>风控设置</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px"><i class="layui-icon">&#xe669;</i></i>
    </a>
</div>
<div class="x-body">
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">IP黑名单</li>
            <li>域名黑名单</li>
            <li>手机号黑名单</li>
            <li>身份证黑名单</li>
            <li>银行卡号黑名单</li>
        </ul>
        <div class="layui-tab-content" style="height:auto;">
            <div class="layui-tab-item layui-show">
                <iframe src="<{:U('blackIp')}>" style="width: 100%; height: 650px; border: 0px;"></iframe>
            </div>
            <div class="layui-tab-item">
                <iframe src="<{:U('blackDomain')}>" style="width: 100%; height: 650px; border: 0px;"></iframe>
            </div>
            <div class="layui-tab-item">
                <iframe src="<{:U('blackTel')}>" style="width: 100%; height: 650px; border: 0px;"></iframe>
            </div>
            <div class="layui-tab-item">
                <iframe src="<{:U('blackIdCard')}>" style="width: 100%; height: 650px; border: 0px;"></iframe>
            </div>
            <div class="layui-tab-item">
                <iframe src="<{:U('blackBankNum')}>" style="width: 100%; height: 650px; border: 0px;"></iframe>
            </div>
        </div>
    </div>
</div>
</body>
</html>