<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公告发布</title>
    <include file="BaseTemplate:includecssjs" />
</head>
<body class="x-body">
<form class="layui-form layui-form-pane" action="" method="post" onsubmit="return false">
    <input type="hidden" name="id" value="<{$id}>" class="addeditinput">
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">公告发布</label>
        <div class="layui-input-block">
            <textarea name="notice" placeholder="请输入公告内容" class="layui-textarea addeditinput"><{$notice}></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button onclick="javascript: FormSumit('<{:U("noticeAdd")}>','',true,false);" class="layui-btn"
            lay-submit lay-filter="formDemo">确认修改</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
</html>