<div id="getLatelyByPayapiclass_line" loadUrl="<{:U('Index/getLatelyByPayapiclass')}>"
         style="width: 1400px;height: 400px;box-shadow:0 0 1px #000 inset;">
</div>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var ech = echarts;
    var line = ech.init(document.getElementById('getLatelyByPayapiclass_line'));

    // 指定图表的配置项和数据
    var lineOption = {
        title: {
            text: '近7日数据统计(充值)'
        },
        tooltip: {},
        toolbox: {
            show: true,
            feature: {
                mark: {show: true},
                magicType: {show: true, type: ['line','bar']},
                //saveAsImage: { show: true }
            }
        },
        legend: {
            y: 'top',
        },
        xAxis: {
            type: 'category',
            name: '日期'
        },
        yAxis: {},
        series: [
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    line.setOption(lineOption);
    var lineOptions = line.getOption();
    var url = $('#getLatelyByPayapiclass_line').attr('loadUrl');
    $.ajax({
        type: "post",
        async: false, //同步执行
        url: url,
        data: {},
        dataType: "json", //返回数据形式为json
        success: function (result) {
            var payapiclass = result.data.payapiclass;
            var legenddata = [];
            if (result.status == "success") {
                lineOptions.xAxis[0].data = result.data.date;
                for(var i=0;i<payapiclass.length;i++){
                    legenddata[i]=payapiclass[i]['name'],
                    lineOptions.series[i]={
                        name:payapiclass[i]['name'],
                        type:'line',
                        data:payapiclass[i]['recharge']
                    };
                }
                lineOptions.legend.data=legenddata;
                line.hideLoading();
                line.setOption(lineOptions);
                //console.log(lineOptions);
            } else {

            }
        },
        error: function (errorMsg) {

            //alert("不好意思，大爷，图表请求数据失败啦!");
            line.hideLoading();
        }
    });

</script>