<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基本设置</title>
    <include file="BaseTemplate:includecssjs"/>
</head>
<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="javascript:;">用户后台</a>
        <a href="javascript:;">账号管理</a>
        <a><cite>账号信息</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px"><i class="layui-icon">&#xe669;</i></i>
    </a>
</div>
<div class="x-body" style="width: 50%">
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">用户信息</li>
            <li>基本信息</li>
        </ul>
        <div class="layui-tab-content" style="height:auto;">
            <div class="layui-tab-item layui-show">
                <iframe src="<{:U('userInformation')}>" style="width: 100%; height: 550px; border: 0px;"></iframe>
            </div>
            <div class="layui-tab-item">
                <iframe src="<{:U('basicInformation')}>" style="width: 100%; height: 680px; border: 0px;"></iframe>
            </div>
        </div>
    </div>
</div>
</body>
</html>