<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>版权声明</title>
    <include file="BaseTemplate:includecssjs"/>
    <link rel="stylesheet" href="/Public/css/copyRight.css">
    <style>
        .pic_area {
            display: block;
            clear: both;
            width: 30%;
            height: 20%;
            overflow: hidden;
            margin: auto;
        }
        .pic_area img {
            width: 100%;
        }
        
    </style>
</head>
<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">管理后台</a>
        <a href="">版权管理</a>
        <a><cite>版权声明</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:1.6em;"><i class="layui-icon">&#xe669;</i></i>
    </a>
</div>
<div class="x-body">
    <div class="pic_area">
        <img src="/Public/images/copyright.jpg">
    </div>
</div>
</body>
</html>