<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改角色</title>
    <include file="BaseTemplate:includecssjs"/> 
</head>
<body>
<div class="x-body">
    <form class="layui-form layui-form-pane" method="post" onsubmit="return false">
        <div class="layui-form-item">
            <label class="layui-form-label">角色名称</label>
            <div class="layui-input-block">
                <input type="text" name="auth_name" id="authName" value="<{$one_info['auth_name']}>" placeholder="请输入角色名称" class="layui-input addeditinput" autocomplete="off">
            </div>
        </div>  
        <input type="hidden" name="id" value="<{$one_info['id']}>" class="addeditinput">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" onclick="javascript: FormSumit('<{:U("RoleUpdate")}>');">确认修改</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
