<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>解冻时间明细</title>
    <include file="BaseTemplate:includecssjs" />

</head>

<body class="layui-anim layui-anim-up">
<div class="x-body">

    <table class="layui-hide" id="seeUnfreezeInfo" layui-data="{id:'seeUnfreezeInfo'}" dataurl="<{:U("loadUnfreezeInfo")}>?id=<{$Think.get.id}>"></table>

    <script type="text/html" id="type">
        {{#  if(d.type=='manual'){ }}
        手动解冻
        {{#  } else { }}
            {{#  if(d.type=='auto'){ }}
            自动解冻
            {{#  } else { }}
            延期
            {{#  } }}
        {{#  } }}
    </script>
</div>
<script src="/Public/Admin/js/<{$Think.ACTION_NAME}>.js"></script>
</body>

</html>



