<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改接口设置</title>
    <include file="BaseTemplate:includecssjs"/>
</head>
<body>
<div class="x-body">
    <form class="layui-form layui-form-pane" method="post" onsubmit="return false">
        <input type="hidden" name="id" value="<{$find['id']}>" class="addeditinput">
        <div class="layui-form-item">
            <label class="layui-form-label">接口版本号</label>
            <div class="layui-input-block">
                <input type="text" name="numberstr" id="numberstr" placeholder="请输入版本号,例如1.0.0"
                       value="<{$find['numberstr']}>" class="layui-input addeditinput" autocomplete="off">
            </div>
        </div>
        <!--2019-2-25 任梦龙：为接口版本添加别名-->
        <div class="layui-form-item">
            <label class="layui-form-label" style="padding: 8px 10px;">接口版本别名</label>
            <div class="layui-input-block">
                <input type="text" name="bieming" id="bieming" placeholder="例如:支付第一版"
                       value="<{$find['bieming']}>" class="layui-input addeditinput" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">控制器名称</label>
            <div class="layui-input-block">
                <input type="text" name="actionname" id="actionname" placeholder="请输入控制器名称,例如Defaultversion"
                       value="<{$find['actionname']}>" class="layui-input addeditinput" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" onclick="javascript: FormSumit('<{:U("editVersion")}>');">确认修改</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
