<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>易吉支付官网</title>
    <link rel="stylesheet" href="/Public/home/css/index.css">
    <script type="text/javascript" src="/Public/home/js/jquery.min.js"></script>

</head>

<body>

    <!-- 导航 -->
    <div class="top">
        <div class="main">
            <div class="logo fl"><img src="/Public/home/images/logo.png" alt=""></div>
            <div class="top-right fr">
                <div class="nav fl">
                    <a href="JavaScript:;" title="首页" class="on">首页</a>
                    <a href="JavaScript:;" title="产品介绍" class="channel-wrap-click">产品介绍</a>
                    <a href="JavaScript:;" title="关于我们" class="about-us-click">关于我们</a>
                    <a href="JavaScript:;" title="联系我们" class="contact-us-click">联系我们</a>
                </div>
                <div class="login-box fr">
                    <a href="<{:U('User/UserLogin/reg')}>" class="registered-btn" title="注册" target="_blank">注册</a>  
                    <a href="<{:U('User/UserLogin/index')}>" class="login-btn" title="登录" target="_blank">登录</a> 
                </div>
            </div>
        </div>
    </div>

    <!-- banner -->
    <div class="banner">
        <div class="main">
            <a href="<{:U('User/UserLogin/reg')}>" title="注册" class="login-btn" target="_blank">注册</a>
        </div>
    </div>

    <!-- 我们的优势 -->
    <div class="our-advantage">
        <div class="main">
            <h3 class="main-title">我们的优势</h3>
            <h5 class="subtitle">易吉聚合支付系统为全球企业级用户提供移动电子支付解决方案，快速搭建交易系统，成熟的聚合支付技术</h5>
            <ul>
                <li>
                    <img src="/Public/home/images/pic1.png" alt="">
                    <span>功能丰富</span>
                    <p>支持会员管理、营销管理、商户管理 等各种泛支付功能</p>
                </li>
                <li>
                    <img src="/Public/home/images/pic2.png" alt="">
                    <span>对接简单</span>
                    <p>一次接入主流支付渠道，支持多种接入 模式，包括API/SDK等SaaS模式</p>
                </li>
                <li>
                    <img src="/Public/home/images/pic3.png" alt="">
                    <span>安全可靠</span>
                    <p>金融级安全防护标准，强有力抵御外部 入侵，支持高并发交易</p>
                </li>
                <li>
                    <img src="/Public/home/images/pic4.png" alt="">
                    <span>高效运营</span>
                    <p>一站式管理平台，呈现多方交易数据 统一管理所有业务和财务数据</p>
                </li>
            </ul>
        </div>
    </div>

    <!-- 关于我们 -->
    <div class="about-us">
        <div class="main">
            <h3 class="main-title">关于我们</h3>
            <h5 class="subtitle">统一管理账户及时对帐，提升对账效率，方便快捷</h5>
            <div class="detail">
                <img src="/Public/home/images/us.png" alt="">
                <div class="about">
                    <h3>武汉爱玛农网络科技有限公司</h3>
                    <p>武汉爱玛农网络科技有限公司，作为聚合支付服务商，专注于开发易吉支付系统来为企业提供聚合支付解决方案，满足用户多通道碎片化支付场景的需求，支持多种支付方式，为商户提供聚合支付SDK源码，第四方支付接口、第四方平台程序搭建、第四方支付平台源程序等服务。最大限度的为消费者提供便利，提高消费者粘性。
                    </p>
                    <a href="JavaScript:;" title="了解更多" class="understand">了解更多</a>
                </div>
            </div>
        </div>
    </div>

    <div class="total">
        <!-- <div class="main">
            <ul>
                <li><span class="num">10</span><span class="text">逾10多种支付通道</span></li>
                <li><span class="num">30<em>W +</em></span><span class="text">30万+开发者</span></li>
                <li><span class="num">10<em>W +</em></span><span class="text">10+企业客户</span></li>
                <li><span class="num">24</span><span class="text">24小时技术支持</span></li>
            </ul>
        </div> -->
    </div>


    <!-- 支付渠道代接入服务 -->
    <div class="channel-wrap">
        <div class="main">
            <h3 class="main-title">支付渠道代接入服务</h3>
            <h5 class="subtitle">只需提交一次资料，即可快捷、高效的帮您搭建完成主流支付渠道的接入</h5>
            <ul>
                <li>
                    <img src="/Public/home/images/channel.png" alt="">
                    <span>全渠道覆盖</span>
                    <p>多种支付方式，一次性全部接入，覆盖所有的支付场景，让用户有更多现在</p>
                </li>
                <li>
                    <img src="/Public/home/images/channel.png" alt="">
                    <span>定制化方案</span>
                    <p>专业运营团队为您定制产品支付解决方案，提供最好的用户体验、提高订单转化率</p>
                </li>
            </ul>
        </div>
    </div>

    <!-- 易吉聚合合作伙伴 -->
    <div class="cooperation">
        <h3 class="main-title">易吉聚合合作伙伴</h3>
        <h5 class="subtitle">与知名公司和团队合作，为您带来优质的体验，为您的支付之路保驾护航</h5>
        <ul>
            <li><img src="/Public/home/images/ali.png" alt=""></li>
            <li><img src="/Public/home/images/wechat.png" alt=""></li>
            <li><img src="/Public/home/images/jd.png" alt=""></li>
            <li><img src="/Public/home/images/baidu.png" alt=""></li>
            <li><img src="/Public/home/images/online.png" alt=""></li>
        </ul>
    </div>

    <div class="contact-us">
        <p>易吉聚合支付旨在帮助企业快速便捷地实现自己的支付功能</p>
        <a href="JavaScript:;">联系我们</a>
    </div>

    <div class="footer">
        <div class="main">
            <div class="link-wrap clearfix">
                <ul class="fl">
                    <li>
                        <span>热门产品</span>
                        <a href="JavaScript:;" title="聚合支付">聚合支付</a>
                        <a href="JavaScript:;" title="营销解决方案">营销解决方案</a>
                    </li>
                    <li>
                        <span>开发者</span>
                        <a href="JavaScript:;" title="API文档">API文档</a>
                        <a href="JavaScript:;" title="SDK下载">SDK下载</a>
                    </li>
                    <li>
                        <span>法律条款</span>
                        <a href="JavaScript:;" title="内容版权">内容版权</a>
                        <a href="JavaScript:;" title="SDK下载">SDK下载</a>
                    </li>
                    <li>
                        <span>帮助</span>
                        <a href="JavaScript:;" title="帮助中心">帮助中心</a>
                    </li>
                    <li>
                        <span>公司</span>
                        <a href="JavaScript:;" title="关于我们" class="about-us-click">关于我们</a>
                        <a href="JavaScript:;" title="加入我们">加入我们</a>
                    </li>
                </ul>
                <div class="fl tel">
                    <span>
                        <cite><img src="/Public/home/images/tel.png" alt="">咨询热线</cite>
                        <cite>15871707089</cite>
                    </span>
                    <span class="code">
                        <img src="/Public/home/images/code.png" alt="">
                    </span>
                </div>
            </div>
            <div class="copyright">©2016-2019 武汉爱码农网络科技有限公司 All rights reserved. 鄂公网安备 42011602000164号</div>
        </div>
    </div>


    <script>
        $(function () {
            $(".channel-wrap-click").click(function () {
                $("html,body").animate({ scrollTop: $(".channel-wrap").offset().top}, 800);
            })
            $(".about-us-click").click(function () {
                $("html,body").animate({ scrollTop: $(".about-us").offset().top }, 800);
            })
            $(".contact-us-click").click(function () {
                $("html,body").animate({ scrollTop: $(".contact-us").offset().top }, 800);
            })
        })();

    </script>
</body>

</html>