<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改到账方案</title>
   <include file="BaseTemplate:includecssjs" />
</head>
<body>
<div class="x-body">
    <form class="layui-form" method="post" onsubmit="return false;">
        <input type="hidden" name="id" value="<{$edit_info.id}>"  class="addeditinput">
        <div class="layui-form-item">
            <label class="layui-form-label">方案名称：</label>
            <div class="layui-input-block">
                <input type="text" name="moneyclassname" id="moneyclassname" value="<{$edit_info.moneyclassname}>" placeholder="请输入到账方案名称" autocomplete="off" class="layui-input addeditinput">
            </div>
        </div>
       
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" onclick="javascript: FormSumit('<{:U("moneyTypeClassNameEdit")}>');">确认修改</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>