<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MD5密钥</title>
    <include file="BaseTemplate:includecssjs" />
</head>
<body>
<!--2019-3-11 任梦龙：如果session('code_switch') = 1,表示有验证遮罩层,否则就是显示正常的页面-->
<if condition="$_SESSION['code_switch'] eq 1">
    <include file="BaseTemplate:shadelayer"/>
    <else/>
<div class="x-body">
    <form class="layui-form" method="post" onsubmit="return false">
        <input type="hidden" name="userid" value="<{$userid}>" class="addeditinput">
        <input type="hidden" name="id" value="<{$id}>" class="addeditinput">
        <div class="layui-form-item">
            <label class="layui-form-label">md5密钥</label>
            <div class="layui-input-inline usersecret-div-width">
                <input type="text" name="md5str"  value="<{$md5key}>" placeholder="md5密钥"
                       autocomplete="off" class="layui-input addeditinput">
            </div>
            <div class="layui-form-mid layui-word-aux class-mid">
                <button type="button"  id="rel" url="<{:U('Secretkey/updateMd5key')}>" onclick="rela()" class="layui-btn layui-btn layui-btn-normal">重新生成MD5密钥</button>
            </div>
        </div>
        <!--2019-3-11 任梦龙：在修改时也要进行验证,也得区分验证码的类型-->
        <include file="BaseTemplate:verifycode"/>
        <div class="layui-form-item">
            <div class="layui-input-block">

                <button onclick="javascript: FormSumit('<{:U("Secretkey/editMd5key")}>','',true,false);" class="layui-btn" lay-submit lay-filter="formDemo">确认修改</button>
            </div>
        </div>
    </form>
</div>
</if>
<script>
    function rela(){
        var url=$('#rel').attr('url');
        $.ajax({
            url:url,
            success:function(data){
                //2019-3-12 任梦龙：修改
                $('input[name=md5str]').val(data.code);
            }
        })
    }
</script>
</body>
</html>






