<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RSA密钥文件</title>
    <include file="BaseTemplate:includecssjs"/>
    <style>
        .layui-form {
            width: 50%;
        }
        .layui-form-item {
            display: block;
            position: relative;
        }
        .upload {
            position: absolute;
            z-index: 10;
            top: 0px;
            left: 110%;
        }
    </style>
</head>
<body>
<!--2019-1-7 任梦龙 添加文件上传-->
<div class="x-body">
    <form class="layui-form" action="<{:U('Secretkey/editRsakey')}>" method="post" onsubmit="return false" enctype="multipart/form-data">
        <input type="hidden" name="userid" value="<{$userid}>" class="addeditinput">
        <input type="hidden" name="id" value="<{$secretkey['id']}>" class="addeditinput">
        <input type="hidden" name="ajax_url" value="<{:U('Secretkey/uploadUserKey')}>">
        <div class="layui-form-item">
            <label class="layui-form-label">系统公钥</label>
            <div class="layui-input-block">
                <textarea name="sys_publickeypath" placeholder="系统公钥" class="layui-textarea addeditinput" required
                          lay-verify="required"><{$secretkey['sys_publickeypath']}></textarea>
            </div>
            <button type="button" class="layui-btn upload" id="sys_publickeypath">
                <i class="layui-icon">&#xe67c;</i>上传文件
            </button>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">系统私钥</label>
            <div class="layui-input-block">
                <textarea name="sys_privatekeypath" placeholder="系统私钥" class="layui-textarea addeditinput" required
                          lay-verify="required"><{$secretkey['sys_privatekeypath']}></textarea>
            </div>
            <button type="button" class="layui-btn upload" id="sys_privatekeypath">
                <i class="layui-icon">&#xe67c;</i>上传文件
            </button>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户公钥</label>
            <div class="layui-input-block">
                <textarea name="publickeypath" placeholder="用户公钥" class="layui-textarea addeditinput" required lay-verify="required"><{$secretkey['publickeypath']}></textarea>
            </div>
            <button type="button" class="layui-btn upload" id="publickeypath">
                <i class="layui-icon">&#xe67c;</i>上传文件
            </button>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户私钥</label>
            <div class="layui-input-block">
                <textarea name="privatekeypath" placeholder="用户私钥" class="layui-textarea addeditinput" required
                          lay-verify="required"><{$secretkey['privatekeypath']}></textarea>
            </div>
            <button type="button" class="layui-btn upload" id="privatekeypath">
                <i class="layui-icon">&#xe67c;</i>上传文件
            </button>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button onclick="javascript: FormSumit('<{:U("Secretkey/editRsakey")}>','',true,false);" class="layui-btn" lay-submit lay-filter="formDemo">确认修改</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
<!--文件上传-->
<script>
    layui.use('upload', function () {
        var upload = layui.upload;
        var user_id = $("input[name='userid']").val();  //用户id
        var id = $("input[name='id']").val();  //当前密钥表的id
        var ajax_url =$("input[name='ajax_url']").val();  //当前密钥表的id
        //执行实例
        var uploadInst = upload.render({
            elem: '#sys_publickeypath' //绑定元素
            // , url: '<{:U("Payapi/uploadFile")}>' //上传接口
            , data: {id: id}
            , accept: 'file'  //上传类型--所有
            , exts: 'pem|txt'  //允许的后缀名
            , done: function (res) {

            }
        });
    });
</script>