<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>密钥/域名</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="/Public/css/font.css">
    <link rel="stylesheet" href="/Public/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/Public/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/Public/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="layui-anim layui-anim-up">
<div class="x-nav">
        <span class="layui-breadcrumb">
          <a href="">管理后台</a>
            <block name="nav">
              <!--2019-2-11 任梦龙：将会员修改为用户，添加用户管理-->
              <a href="">用户管理</a>
              <a href="">用户列表</a>
              <a href=""><cite>密钥/域名</cite></a>
            </block>
        </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px"><i class="layui-icon">&#xe669;</i></i></a>
</div>

<div class="x-body">
    <if condition="$renzheng eq 1">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">MD5密钥</li>
                <li>系统公钥</li>
                <li>系统私钥</li>
                <!--<li>用户公钥</li>-->
                <!--<li>用户私钥</li>-->
                <li>用户密钥</li>
                <!--2019-3-4 任梦龙：去掉网页-->
                <!--<li>在线生成RSA公私钥</li>-->
                <li>绑定域名</li>
                <!--2019-1-25 任梦龙：为每个主用户添加ip白名单-->
                <li>IP白名单</li>
                <!--2019-2-22 任梦龙：添加密钥修改记录-->
                <li>密钥记录</li>
            </ul>
            <div class="layui-tab-content" style="height:auto;">
                <div class="layui-tab-item layui-show">
                    <iframe src="<{:U('Md5Secretkey')}>?userid=<{$userid}>"
                            style="width: 100%; height: 200px; border: 0px;"></iframe>
                </div>

                <div class="layui-tab-item">
                    <iframe src="<{:U('userSecretkey')}>?userid=<{$userid}>&file_name=sys_publickeypath&alert_str=系统公钥"
                            style="width: 100%; height: 550px; border: 0px;"></iframe>
                </div>

                <div class="layui-tab-item">
                    <iframe src="<{:U('userSecretkey')}>?userid=<{$userid}>&file_name=sys_privatekeypath&alert_str=系统私钥"
                            style="width: 100%; height: 550px; border: 0px;"></iframe>
                </div>

                <!--<div class="layui-tab-item">-->
                <!--<iframe src="<{:U("Secretkey/userSecretkey")}>?userid=<{$userid}>&file_name=publickeypath&alert_str=用户公钥" style="width: 100%; height: 650px; border: 0px;"></iframe>-->
                <!--</div>-->
                <!--<div class="layui-tab-item">-->
                <!--<iframe src="<{:U("Secretkey/userSecretkey")}>?userid=<{$userid}>&file_name=privatekeypath&alert_str=用户私钥" style="width: 100%; height: 650px; border: 0px;"></iframe>-->
                <!--</div>-->

                <div class="layui-tab-item">
                    <iframe src="<{:U('userSecretkey')}>?userid=<{$userid}>&file_name=user_keypath&alert_str=用户密钥"
                            style="width: 100%; height: 550px; border: 0px;"></iframe>
                </div>

                <!--<div class="layui-tab-item">-->
                <!--<iframe src="http://web.chacuo.net/netrsakeypair" style="width: 100%; height: 560px; border: 0px;"></iframe>-->
                <!--</div>-->

                <div class="layui-tab-item">
                    <iframe src="<{:U('BindingDomain')}>?userid=<{$userid}>"
                            style="width: 100%; height: 550px; border: 0px;"></iframe>
                </div>

                <!--2019-1-25 任梦龙：为每个主用户添加ip白名单-->
                <div class="layui-tab-item">
                    <iframe src="<{:U('userIpList')}>?userid=<{$userid}>"
                            style="width: 100%; height: 550px; border: 0px;"></iframe>
                </div>

                <!--2019-2-22 任梦龙：添加密钥修改记录-->
                <div class="layui-tab-item">
                    <iframe src="<{:U('secretRecord')}>?userid=<{$userid}>"
                            style="width: 100%; height: 550px; border: 0px;"></iframe>
                </div>
            </div>
        </div>
        <else/>
        <div class="layui-form-item" style="text-align: center;color: #C0C0C0;font-size: 36px;margin-top: 8%;">
            <span>该用户未认证成功，暂不能查看</span>
        </div>
    </if>
</div>
</body>
</html>