<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密钥记录</title>
    <link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css"  media="all">
    <include file="BaseTemplate:includecssjs" />
</head>
<body>
<div class="x-body">
    <table class="layui-hide" id="secretRecord" layui-data="{id:'secretRecord'}"
           dataurl="<{:U('Secretkey/loadSecretRecord')}>?user_id=<{$userid}>"></table>
</div>
<script>
    var tableIns;
    layui.use('table', function(){
        var table = layui.table;
        tableIns =  table.render({
            elem: '#secretRecord'
            ,url: $("#secretRecord").attr("dataurl")
            ,cols: [[
                {type:'numbers', title:'ID',width:100}
                ,{field:'user_name', title:'操作者'}
                ,{field:'type', title:'类型'}
                ,{field:'msg', title:'修改信息',width:500}
                ,{field:'date_time', title:'修改时间'}
            ]]
            ,page: true
            ,text: {
                none: '无数据'
            }
            ,method: 'post'
        });
    });
</script>
</body>
</html>