<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户ip白名单</title>
    <link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css"  media="all">
    <include file="BaseTemplate:includecssjs" />
</head>
<body>
<div class="x-body">
    <form class="layui-form" method="post" onsubmit="return false">
        <input type="hidden" id="userid" name="user_id" value="<{$userid}>" class="addeditinput">
        <div class="layui-form-item">
            <label class="layui-form-label">绑定IP</label>
            <div class="layui-input-inline">
                <input type="text" name="ip" placeholder="请输入要绑定的IP" autocomplete="off"
                       class="layui-input addeditinput">
            </div>
            <div class="layui-form-mid layui-word-aux">例如：192.168.0.119</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button onclick="javascript: FormSumit('<{:U("addUserIp")}>','',true,false);" class="layui-btn"
                lay-submit lay-filter="formDemo">新增绑定IP</button>
            </div>
        </div>
    </form>
    <table class="layui-hide" id="userIpList" layui-data="{id:'userIpList'}" dataurl="<{:U('Secretkey/loadUserIpList')}>?user_id=<{$userid}>"></table>
    <script type="text/html" id="barDemo">
        <a href="javascript:;" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"
           ajaxurl="<{:U('Secretkey/delUserIp')}>" onclick="delete_info(this,{{d.id}})" >删除</a>
    </script>
</div>
<script>
    var tableIns;
    layui.use('table', function(){
        var table = layui.table;
        var form = layui.form;
        var userid =$('#userid').attr('value');
        tableIns =  table.render({
            elem: '#userIpList'
            ,url: $("#userIpList").attr("dataurl")
            // ,where:{userid:userid}
            //,cellMinWidth: 80
            ,cols: [[
                {type:'numbers'}
                ,{field:'ip', title:'绑定IP'}
                ,{field:'date_time', title:'添加时间'}
                ,{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}
            ]]
            ,page: true
            ,text: {
                none: '无数据'
            }
            ,method: 'post'
        });
    });

</script>
</body>
</html>