<!DOCTYPE html>


<html lang="en">


<head>


    <meta charset="UTF-8">


    <title>通道商家编辑</title>


    <include file="BaseTemplate:includecssjs" />


</head>


<body>





<div class="x-body">


    <form class="layui-form" method="post" onsubmit="return false">


    	<input type="hidden" name="id" class="addeditinput" value="<{$find["id"]}>">


        <div class="layui-form-item">


            <label class="layui-form-label">商家名称</label>


            <div class="layui-input-block">


                <input type="text" name="shangjianame" id="shangjianame" value="<{$find["shangjianame"]}>" required  lay-verify="required" placeholder="请输入商家名称" autocomplete="off" class="layui-input addeditinput">


            </div>


        </div>


       


        <div class="layui-form-item">


            <div class="layui-input-block">


                <button class="layui-btn" onclick="javascript: FormSumit('<{:U("PayapiShangjiaEdit")}>');">确认修改</button>


                <button type="reset" class="layui-btn layui-btn-primary">重置</button>


            </div>


        </div>


    </form>


</div>


</body>

</html>