<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网站设置</title>
    <include file="BaseTemplate:includecssjs"/>
</head>
<body>
<div class="x-body">
    <form id="Form" class="layui-form"  method="post" onsubmit="return false">
        <input type="hidden" name="id" value="<{$website['id']}>" class="addeditinput">
        <div class="layui-form-item">
            <label class="layui-form-label">网站名称</label>
            <div class="layui-input-block">
                <input type="text" name="websitename" id="websitename" value="<{$website['websitename']}>" placeholder="请输入网站名称" autocomplete="off" class="layui-input addeditinput">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客服电话</label>
            <div class="layui-input-block">
                <input type="text" name="tel" id="tel" value="<{$website['tel']}>" placeholder="请输入客服电话" autocomplete="off" class="layui-input addeditinput">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客服QQ</label>
            <div class="layui-input-block">
                <input type="text" name="qq" id="qq" value="<{$website['qq']}>" placeholder="请输入客服QQ" autocomplete="off" class="layui-input addeditinput">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">网站备案号</label>
            <div class="layui-input-block">
                <input type="text" name="register_number" id="register_number" value="<{$website['register_number']}>" placeholder="请输入网站备案号" autocomplete="off" class="layui-input addeditinput">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">统计代码</label>
            <div class="layui-input-block">
                <textarea name="statistic_code" id="statistic_code" placeholder="统计代码" class="layui-textarea addeditinput"><{$website['statistic_code']}></textarea>
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>
        <!--2019-3-13 任梦龙：在修改时也要进行验证,也得区分验证码的类型-->
        <include file="BaseTemplate:verifycode"/>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button onclick="javascript: FormSumit('<{:U("SystemSeting/editWebSite")}>','',true,false);" class="layui-btn" lay-submit lay-filter="formDemo">确认修改</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>