<extend name="BaseTemplate:List"/>
<block name="title">工单列表</block>
<block name="nav">
    <a href="javascript:;">工单列表</a>
    <a><cite>工单记录</cite></a>
</block>
<block name="search">
    <input type="text" name="work_num" id="work_num" placeholder="工单编号" autocomplete="off" class="layui-input">
    <input type="text" name="user_name" id="user_name" placeholder="用户名" autocomplete="off" class="layui-input">
    <input type="text" name="title" id="title" placeholder="标题" autocomplete="off" class="layui-input">
    <div class="layui-input-inline">
        <select name="status" id="statusSearch" class="layui-select searchstr">
            <option value="">请选择状态</option>
            <option value="1">未处理</option>
            <option value="2">沟通中</option>
            <option value="3">已解决</option>
        </select>
    </div>
    <div class="layui-input-inline">
        <select name="user_del" id="delSearch" class="layui-select searchstr">
            <option value="">全部工单</option>
            <option value="0">用户未删除</option>
            <option value="1">用户已删除</option>
        </select>
    </div>
    &nbsp;&nbsp;提交时间：<input class="layui-input" placeholder="开始时间" name="start" id="start" autocomplete="off">
    <input class="layui-input" placeholder="结束时间" name="end" id="end" autocomplete="off">
</block>
<block name="xblock">
    <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll(this)" ajaxurl="<{:U("delAll")}>"><i class="layui-icon"></i>批量删除</button>
        <span class="x-right" style="line-height:40px"></span>
    </xblock>
</block>
<block name="table_script">
    <table class="layui-hide" id="adminWorkList" layui-data="{id:'adminWorkList'}" dataurl="<{:U("loadUserWorkList")}>"></table>
    <script type="text/html" id="worknum">
        {{#  if(d.user_del == 1){ }}
        {{d.work_num}}span <span style="color: #f00;">*</span>
        {{#  } else { }}
        {{d.work_num}}
        {{#  } }}
    </script>

    <script type="text/html" id="updatetime">
        {{#  if(d.update_time != '0000-00-00 00:00:00'){ }}
        {{d.update_time}}
        {{#  } else { }}
        -
        {{#  } }}
    </script>

    <script type="text/html" id="status">
        {{#  if(d.status == 1){ }}
        <span style="color: #f00;">未处理</span>
        {{#  } }}
        {{#  if(d.status == 2){ }}
        <span style="color: #1E9FFF;">沟通中</span>
        {{#  } }}
        {{#  if(d.status == 3){ }}
        <span style="color: #009688;">已解决</span>
        {{#  } }}
    </script>

    <script type="text/html" id="caozuo">
        <a title="查看"  onclick="y_admin_show('查看工单信息','<{:U("replyUserWork")}>?id={{ d.id }}',1200,650)" href="javascript:;">
        {{#  if(d.read == 1){ }}
        <img height = "18px" src="/Public/icon/notsee.png"
             style="background:#009688;padding: 2px 7px;box-sizing: border-box;border-radius: 3px;vertical-align: -3px;" / >
        {{#  } }}
        {{#  if(d.read != 1){ }}
        <img height = "18px" src="/Public/icon/hassee.png"
             style="background:#009688;padding: 2px 7px;box-sizing: border-box;border-radius: 3px;vertical-align: -3px;" / >
        {{#  } }}
        </a>

        {{#  if(d.del == 1){ }}
        <a title="删除" onclick="delete_info(this,{{ d.id }})" href="javascript:;" ajaxurl="<{:U("delWorkOrder")}>">
            <i class="layui-icon"><span class="layui-badge layui-bg-danger"><i class="layui-icon">&#xe640;</i></span></i>
        </a>
        {{#  } }}

        {{#  if(d.help == 1){ }}
        <a title="添加" onclick="y_admin_show('添加帮助文档','<{:U("addHelpDocument")}>?id={{d.id}}',1000,400)">
        <i class="layui-icon"><span class="layui-badge" style="background-color: #5bc0de;"><i class="layui-icon">&#xe608;</i></span></i>
        </a>
        {{#  } }}

        {{#  if(d.status != 3){ }}
        <a title="转交" onclick="y_admin_show('转交发送','<{:U("transWorker")}>?id={{d.id}}',600,400)">
        <img height = "18px" src="/Public/icon/transfer.png"
             style="background:#5bc0de;padding: 2px 7px;box-sizing: border-box;border-radius: 3px;vertical-align: -3px;" / >
        </a>
        {{#  } }}
    </script>

</block>

