<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户自助通道设置</title>
    <include file="BaseTemplate:includecssjs" />
</head>
<body>
<div class="x-body">
    <form class="layui-form" method="post" onsubmit="return false" lay-filter="switch">
        <div class="layui-form-item">
            <label class="layui-form-label">选择通道</label>
            <div class="layui-input-block">
                <foreach name="payapi_list" item="v">
                    <input type="checkbox" id="payapi<{$v.id}>" lay-filter="checkbox" lay-skin="checkbox" title="<{$v.zh_payname}>" value="<{$v.id}>"
                           name="payapi_id[<{$key}>]" <?php if(in_array($v['id'],$set_arr)){echo 'checked';} ?>
                    <?php if(in_array($v['id'],$set_arr)){echo 'class="addeditinput"';} ?>  class="">
                </foreach>
            </div>
            <div class="layui-form-mid layui-word-aux">指定用户自助通道,一旦指定,如果通道内没有账号,交易时直接报错,请谨慎选择</div>
        </div>
        <include file="BaseTemplate:verifycode"/>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button onclick="javascript: FormSumit('<{:U("editUserAccountset")}>','',true,false);" class="layui-btn"
                lay-submit lay-filter="formDemo">确认修改</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['form'], function(){
        var form = layui.form
            ,layer = layui.layer;

        form.on('checkbox(checkbox)', function(data){
            if(data.elem.checked==true){
                $('#payapi'+data.value).addClass('addeditinput');
            }else{
                $('#payapi'+data.value).removeClass('addeditinput');
            }
        });

    });
</script>
</body>
</html>