<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户MD5密钥</title>
    <include file="BaseTemplate:includecssjs" />
</head>
<body>
<if condition="$_SESSION['switch_code'] eq 1">
    <include file="BaseTemplate:shadelayer"/>
    <else/>
    <div class="x-body">
        <form class="layui-form" method="post" onsubmit="return false">
            <input type="hidden" name="id" value="<{$find.id}>" class="addeditinput">
            <div class="layui-form-item">
                <label class="layui-form-label">md5密钥</label>
                <div class="layui-input-inline usersecret-div-width">
                    <input type="text" name="md5str"  value="<{$find.md5str}>" placeholder="md5密钥"
                           autocomplete="off" class="layui-input addeditinput">
                </div>
                <div class="layui-form-mid layui-word-aux class-mid">
                    <button type="button"  id="rel" url="<{:U('updateMd5key')}>" onclick="rela()" class="layui-btn layui-btn layui-btn-normal">重新生成MD5密钥</button>
                </div>
            </div>
            <include file="BaseTemplate:verifycode"/>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button onclick="javascript: FormSumit('<{:U("editMd5key")}>','',true,false);" class="layui-btn" lay-submit lay-filter="formDemo">确认修改</button>
                </div>
            </div>
        </form>
    </div>
</if>
<script>
    function rela(){
        var url=$('#rel').attr('url');
        $.ajax({
            url:url,
            success:function(data){
                $('input[name=md5str]').val(data.code);
            }
        })
    }
</script>
</body>
</html>






