<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>密钥/域名</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="/Public/css/font.css">
    <link rel="stylesheet" href="/Public/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/Public/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/Public/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="layui-anim layui-anim-up">
<div class="x-nav">
        <span class="layui-breadcrumb">
          <a href="">用户后台</a>
            <block name="nav">
              <a href="">密钥管理</a>
              <a href=""><cite>用户密钥</cite></a>
            </block>
        </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px"><i class="layui-icon">&#xe669;</i></i></a>
</div>
<div class="x-body">
    <if condition="$renzheng eq 1">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <!--2019-3-27 任梦龙：添加MD5密钥-->
                <li class="layui-this">MD5密钥</li>
                <li>系统公钥</li>
                <li>用户密钥</li>
                <!--2019-3-12 任梦龙：注释掉页面-->
                <!--<li>在线生成RSA公私钥</li>-->

            </ul>
            <div class="layui-tab-content" style="height:auto;">
                <div class="layui-tab-item layui-show">
                    <iframe src="<{:U('md5Secretkey')}>?id=<{$find['id']}>" style="width: 100%; height: 600px; border: 0px;"></iframe>
                </div>
                <div class="layui-tab-item">
                    <iframe src="<{:U('seeSyspublicKey')}>?id=<{$find['id']}>" style="width: 100%; height: 600px; border: 0px;"></iframe>
                </div>

                <div class="layui-tab-item">
                    <iframe src="<{:U('userKey')}>?id=<{$find['id']}>" style="width: 100%; height: 600px; border: 0px;"></iframe>
                </div>

                <!--<div class="layui-tab-item">-->
                <!--<iframe src="http://web.chacuo.net/netrsakeypair" style="width: 100%; height: 600px; border: 0px;"></iframe>-->
                <!--</div>-->

            </div>
        </div>
<else/>
<div class="layui-form-item" style="text-align: center;color: #C0C0C0;font-size: 36px;margin-top: 8%;">
    <span>未认证成功，暂不能查看</span>
</div>
</if>
</div>
</body>
</html>