<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <include file="BaseTemplate:includecssjs"/>
</head>
<body>
<div class="x-body">
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">谷歌验证</li>
            <li>登陆密码</li>
            <li>管理密码</li>
            <!--2019-3-26 任梦龙：由于记录需要做权限，所以去掉-->
            <!--<li>登陆记录</li>-->
            <!--<li>操作记录</li>-->
        </ul>
        <div class="layui-tab-content" style="height:auto;">
            <div class="layui-tab-item layui-show">
                <iframe src="<{:U('userGoogle')}>" style="width: 100%; height: 600px; border: 0px;"></iframe>
            </div>
            <div class="layui-tab-item">
                <iframe src="<{:U('userLoginPwd')}>" style="width: 100%; height: 600px; border: 0px;"></iframe>
            </div>
            <div class="layui-tab-item">
                <iframe src="<{:U('userMangePwd')}>" style="width: 100%; height: 600px; border: 0px;"></iframe>
            </div>
            <!--<div class="layui-tab-item">-->
                <!--<iframe src="<{:U('userLoginRecord')}>" style="width: 100%; height: 600px; border: 0px;"></iframe>-->
            <!--</div>-->
            <!--<div class="layui-tab-item">-->
                <!--<iframe src="<{:U('userOperateRecord')}>" style="width: 100%; height: 600px; border: 0px;"></iframe>-->
            <!--</div>-->
        </div>
    </div>
</div>
</body>
</html>