<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>绑定域名</title>
    <link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css"  media="all">
    <include file="BaseTemplate:includecssjs" />
</head>
<body>
<div class="x-body">
    <form class="layui-form" action="<{:U('addDomain')}>" method="post" onsubmit="return false">
        <input type="hidden" id="userid" name="userid" value="<{$userid}>" class="addeditinput">
        <div class="layui-form-item">
            <label class="layui-form-label">绑定域名</label>
            <div class="layui-input-block">
                <input type="text" name="domain" value="<{$domain}>"  id="websitename" required  lay-verify="required" placeholder="请输入要绑定的域名" autocomplete="off" class="layui-input addeditinput">
            </div>
       <div class="layui-form-mid layui-word-aux">不包含 http://, 比如  www.xxx.com</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button onclick="javascript: FormSumit('<{:U("addDomain")}>','',true,false);" class="layui-btn" lay-submit lay-filter="formDemo">新增绑定域名</button>
            </div>
        </div>
    </form>
    <table class="layui-hide" id="domains" layui-data="{id:'UserList'}" dataurl="<{:U('loadDomain')}>" lay-filter="domains"></table>
    <script type="text/html" id="barDemo">
        <!--<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>-->
        <a href="javascript:;" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" ajaxurl="<{:U('delDomain')}>" onclick="admion_del(this,{{d.id}})" >删除</a>
    </script>
</div>
<script>
    var tableIns;
    layui.use('table', function(){
        var table = layui.table;
        var form = layui.form;
        var userid =$('#userid').attr('value');
        tableIns =  table.render({
            elem: '#domains'
            ,url: $("#domains").attr("dataurl")
            ,where:{userid:userid}
            //,cellMinWidth: 80
            ,cols: [[
                {type:'numbers'}
                ,{field:'domain', title:'绑定域名',templet:'#domain'}
                ,{field:'created_at', title:'添加时间',sort: true,templet:'#created_at'}
                ,{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}
            ]]
            ,page: true
            ,text: {
                none: '无数据'
            }
            ,method: 'post'
        });
    });
    function admion_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            ajaxurl = $(obj).attr("ajaxurl");
            datastr = "id=" + id;
            $.ajax({
                type:'POST',
                url:ajaxurl,
                data:datastr,
                dataType:'text',
                success:function(str){
                    if(str == "ok"){
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    }else{
                        layer.msg('删除失败!',{icon:2,time:1000});
                    }
                },
                error:function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("error");
                }
            });
        });
    }

</script>
</body>
</html>