<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改用户密码</title>
    <include file="BaseTemplate:includecssjs"/>
</head>
<body class="layui-anim layui-anim-up">
<div class="x-body">
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">登录密码</li>
            <li>管理密码</li>
        </ul>
        <div class="layui-tab-content" style="height:auto;">
            <div class="layui-tab-item layui-show">
                <iframe src="<{:U("editLoginPwd")}>?userid=<{$Think.get.userid}>" style="width: 100%; height: 255px; border: 0px;"></iframe>
            </div>
            <div class="layui-tab-item">
                <iframe src="<{:U("editManagePwd")}>?userid=<{$Think.get.userid}>" style="width: 100%; height: 255px; border: 0px;"></iframe>
            </div>
        </div>
    </div>
</div>
</body>
</html>
