<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MD5密钥</title>
    <include file="BaseTemplate:includecssjs" />
</head>
<body>
<div class="x-body">
    <form class="layui-form" action="<{:U('editMd5key')}>" method="post" onsubmit="return false">
        <input type="hidden" name="userid" value="<{$userid}>" class="addeditinput">
        <input type="hidden" name="id" value="<{$id}>" class="addeditinput">
        <div class="layui-form-item">
            <label class="layui-form-label">md5密钥</label>
            <div class="layui-input-block">
                <input type="text" name="md5str" value="<{$md5key}>"  id="websitename"  required  lay-verify="required" placeholder="md5密钥" autocomplete="off" class="layui-input addeditinput" >
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button"  id="rel" url="<{:U('updateMd5key')}>" onclick="rela()" class="layui-btn layui-btn layui-btn-normal">重新生成MD5密钥</button>
                <button onclick="javascript: FormSumit('<{:U("editMd5key")}>','',true,false);" class="layui-btn" lay-submit lay-filter="formDemo">确认修改</button>
            </div>
        </div>
    </form>
</div>
<script>
    function rela(){
        var url=$('#rel').attr('url');
        $.ajax({
            url:url,
            success:function(data){
                $('#websitename').attr('value',data.code);
            }
        })
    }
</script>
</body>
</html>






