<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RSA密钥文件</title>
    <include file="BaseTemplate:includecssjs"/>
</head>
<body>
<div class="x-body">
    <form class="layui-form" action="<{:U('editRsakey')}>" method="post" onsubmit="return false" enctype="multipart/form-data">
        <input type="hidden" name="userid" value="<{$userid}>" class="addeditinput">
        <input type="hidden" name="id" value="<{$secretkey['id']}>" class="addeditinput">
        <div class="layui-form-item">
            <label class="layui-form-label">系统公钥</label>
            <div class="layui-input-block">
                <textarea name="sys_publickeypath" placeholder="系统公钥" class="layui-textarea addeditinput" required
                          lay-verify="required"><{$secretkey['sys_publickeypath']}></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">系统私钥</label>
            <div class="layui-input-block">
                <textarea name="sys_privatekeypath" placeholder="系统私钥" class="layui-textarea addeditinput" required
                          lay-verify="required"><{$secretkey['sys_privatekeypath']}></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户公钥</label>
            <div class="layui-input-block">
                <textarea name="publickeypath" placeholder="用户公钥" class="layui-textarea addeditinput" required lay-verify="required"><{$secretkey['publickeypath']}></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户私钥</label>
            <div class="layui-input-block">
                <textarea name="privatekeypath" placeholder="用户私钥" class="layui-textarea addeditinput" required
                          lay-verify="required"><{$secretkey['privatekeypath']}></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button onclick="javascript: FormSumit('<{:U("editRsakey")}>','',true,false);" class="layui-btn" lay-submit lay-filter="formDemo">确认修改</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>