<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>密钥/域名</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="/Public/css/font.css">
    <link rel="stylesheet" href="/Public/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/Public/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/Public/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body class="layui-anim layui-anim-up">

    <div class="x-body">
      <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
          <li class="layui-this">MD5密钥</li>

          <li>RSA密钥文件</li>
          <li>在线生成RSA公私钥</li>
          <li>绑定域名</li>
          
        </ul>
        <div class="layui-tab-content" style="height:auto;">
          <div class="layui-tab-item layui-show">
            <iframe src="<{:U("Md5Secretkey")}>?userid=<{$userid}>" style="width: 100%; height: 200px; border: 0px;"></iframe>
          </div>
          <div class="layui-tab-item">
            <iframe src="<{:U("RsaSecretkey")}>?userid=<{$userid}>" style="width: 100%; height: 560px; border: 0px;"></iframe>

          </div>
          <div class="layui-tab-item">
            <iframe src="http://web.chacuo.net/netrsakeypair" style="width: 100%; height: 560px; border: 0px;"></iframe>
          </div>
          <div class="layui-tab-item">
            <iframe src="<{:U("BindingDomain")}>?userid=<{$userid}>" style="width: 100%; height: 560px; border: 0px;"></iframe>

          </div>
         
        </div>
      </div>
    </div>
  </body>

</html>