<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>用户手续费设置</title>
    <include file="BaseTemplate:includecssjs" />
</head>

<body class="layui-anim layui-anim-up">

<div class="x-body">
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">充值手续费统一设置</li>
            <li>结算手续费统一设置</li>
            <li>手续费单独设置</li>
        </ul>
        <div class="layui-tab-content" style="height:auto;">
            <div class="layui-tab-item layui-show">
                <iframe src="<{:U("UserInformation")}>?userid=<{$userid}>" style="width: 100%; height: 550px; border: 0px;"></iframe>
            </div>
            <div class="layui-tab-item">
                <iframe src="<{:U("EssentialInformation")}>?userid=<{$userid}>" style="width: 100%; height: 550px; border: 0px;"></iframe>
            </div>
            <div class="layui-tab-item">
                <iframe src="<{:U("DomainSeting")}>" style="width: 100%; height: 400px; border: 0px;"></iframe>
            </div>
        </div>
    </div>
</div>
</body>

</html>