<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        <block name="title">无标题</block>
    </title>
    <include file="BaseTemplate:includecssjs"/>
</head>
<body class="layui-anim layui-anim-up">
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">管理后台</a>
        <a href="">账号管理</a>
        <a><cite>登录记录</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px"><i class="layui-icon">&#xe669;</i></i>
    </a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" method="GET" onsubmit="return false">
            <!--2019-3-21 添加管理员的搜索条件-->
            <if condition="$_SESSION['admin_info']['super_admin'] eq 1">
                <div class="layui-input-inline">
                    <select name="admin_id" id="admin_id" class="layui-select addeditinput" lay-search>
                        <option value="">请选择管理员</option>
                        <volist name="admin_list" id="vo">
                            <option value="<{$vo.id}>"><{$vo.user_name}></option>
                        </volist>
                    </select>
                </div>
            </if>
            <input class="layui-input addeditinput" placeholder="登录ip" name="login_ip" id="loginIp">
            <input class="layui-input addeditinput" autocomplete="off" placeholder="登录开始日" name="start" id="start">
            <input class="layui-input addeditinput" autocomplete="off" placeholder="登录截止日" name="end" id="end">
            <button class="layui-btn" onclick="javascript:searchbutton();"><i class="layui-icon">&#xe615;</i></button>
            <button class="layui-btn layui-btn-primary" onclick="javascript:location.replace(location.href);">全部数据
            </button>
        </form>
    </div>
    <table class="layui-hide" id="adminLoginRecord" layui-data="{id:'adminLoginRecord'}" dataurl="<{:U("loadAdminLoginRecord")}>"></table>
    <script type="text/html" id="login_ip">
        {{# if(d.login_ip){ }}
        {{d.login_ip}}
        {{# }else{ }}
        -
        {{# } }}
    </script>
    <script type="text/html" id="login_address">
        {{# if(d.login_address){ }}
        {{d.login_address}}
        {{# }else{ }}
        -
        {{# } }}
    </script>
</div>
<script src="/Public/Admin/js/<{$Think.ACTION_NAME}>.js"></script>
</body>

</html>

