<style>
    ul,li{ list-style: none;}
    .pop-ups-box{ background: #fff;}
    .pop-ups-box ul{ padding: 40px 0 0 20px;}
    .pop-ups-box li{ float: left; font-size: 18px; color: #404040; line-height: 60px;}
    .pop-ups-box .code-box{ width: 198px; height: 198px; border: 1px solid #d5d5d5; overflow: hidden; margin-right: 20px;}
    .pop-ups-box li span{ display: block; color: #ed6f16; font-size: 24px; margin-top: 40px;}
    .pop-ups-box li em{ color: #e70a0a;}
</style>
<div class="pop-ups-box">
    <ul>
        <li class="code-box">
            <img style="width: 198px;height: 198px;" src="/<{$qrcode}>">
        </li>
        <li>
            <span>扫此二维码，进入自助收银</span>
            <em>*</em>支持微信、支付宝、银联扫码
        </li>
    </ul>
</div>