<div class="days-box fl">
   <!-- <div class="count">今日成功率统计</div>-->
    <div class="data-info" id="getUserTodaySuccessrate_line" loadUrl="<{:U('index/getUserTodaySuccessrate')}>"></div>
</div>


<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var ech = echarts;
    var line = ech.init(document.getElementById('getUserTodaySuccessrate_line'));


    // 指定图表的配置项和数据
    var lineOption = {
        title: {
            text: '今日成功率统计'
        },
        tooltip: {},
        toolbox: {
            show: true,
            feature: {
                mark: {show: true},
                magicType: {show: true, type: ['line', 'bar']},
                //saveAsImage: { show: true }
            }
        },
        legend: {
            data: ['成功率']
        },
        xAxis: {
            type: 'category',
            name: '时间'
        },
        yAxis: {},
        series: [
            {
                name: '成功率',
                type: 'line',
                //data: [5, 20, 36, 10, 10, 20]
            },
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    line.setOption(lineOption);



    var lineOptions = line.getOption();

    var url = $('#getUserTodaySuccessrate_line').attr('loadUrl');
    $.ajax({
        type: "post",
        async: false, //同步执行
        url: url,
        data: {},
        dataType: "json", //返回数据形式为json
        success: function (result) {
            console.log(result);
            if (result.status == "success") {
                lineOptions.series[0].data = result.data.rate;
                lineOptions.xAxis[0].data = result.data.h;
                line.hideLoading();
                line.setOption(lineOptions);
            } else {

            }
        },
        error: function (errorMsg) {

            //alert("不好意思，大爷，图表请求数据失败啦!");
            line.hideLoading();
        }
    });

</script>